
.bottom-section{
    display: inline-flex;
  }
  
  .bottom-section h2{
    font-size: 1.2em;
  }
  
  .bottom-section h3{
    font-size: 0.8em;
    color: #ccc;
  }
  
  .row{
    padding-left: 2em;
  }