.feature-section {
  height: 100vh;
  width: 100%;
}

.feature-cards-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25vh;
  padding-left: 2vw;
  padding-right: 2vw;
}

.feature-card{
  background-color: white;
  border-radius: 2vh;
  text-align: left;
  padding: 2.5vh;
  width: 27.5vw;
  height: 25vh;
}

.feature-card .icon{
  width: auto;
  height: 10vh;
  border-radius: 100vh;
}

.feature-card img{
  width: auto;
  height: 15vh;
  /* border-radius: 100vh; */
}

.feature-card h2{
  font-size: 2.7vh;
  color: black;
}

.feature-card p{
  font-size: 2vh;
  color: gray;
}

.feature-p{
  font-size: 4vh;
  color: rgba(255, 255, 255, 0.8);
}