.feature-section {
  height: 100vh;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 2vh;
}

.feature-card{
  background-color: white;
  border-radius: 2vh;
  text-align: left;
  padding: 2.5vh;
  margin-right: 5vh;
}

.feature-card .icon{
  width: auto;
  height: 10vh;
  border-radius: 100vh;
}

.feature-card h2{
  font-size: 2.7vh;
  color: black;
}

.feature-card p{
  font-size: 2vh;
  color: gray;
}